<div class="container">
    <% if %>
        <% @recipes.any? %>
            <div class="col-4">
                <h1>Rezepte</h1>
            </div>
                <div class="card-deck">
                    <% @recipes.each do |recipe| %>
                        <div class="col-4 d-flex align-items-stretch">
                            <div class="card show_row">  
                            <%= image_tag "https://image.essen-und-trinken.de/11848908/t/RP/v8/w960/r1/-/bratkartoffeln-aus-pellkartoffeln-0b6b8b4c3273dfdf072b69bdfb0e7d8e-fjt2008110761-jpg--17250-.jpg" %>
                                    <div class="card-body">
                                        <p class="card-text">Titel: <%= link_to recipe.title, recipe_path(recipe) %></p>
                                    </div>
                            </div>
                        </div>                
                    <% end %>
                </div>
    <% else %>
            <div class="col-4">
                <h1>Sorry, keine Rezepte vorhanden :-(</h1>
            </div>
    <% end %>
</div>